/* Import */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inria+Sans:wght@700&display=swap');

/* Inicio */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    font-family: 'Bree Serif', serif;
}

/* Configuração lado esquerdo */
.left {
    background-color: #E85B0C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.text {
    width: 80%;    
}

.text > h1 {
    font-size: 64px;
    color: white;
    margin-bottom: 15px;
}

.text h3 {
    width: 90%;
    font-size: 40px;
    color: #FFEAC0;
}

.img img{
    margin-top: -50px;
    width: 306px;
}

/* Configuração do lado direito */
.right {
    background-color: #E99820;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #B06926;
    border-radius: 30px;
}

.login h2 {
    display: flex;
    color: white;
    font-size: 30px;
    border-bottom: solid 3px white;
    position: relative;
    margin-bottom: 20px;
}


.data {
    display: flex;
    flex-direction: column;
    position: relative;
}

.campos {
    margin-bottom: 60px;
}

.campos  label {
    position: relative;
    padding-bottom: 30px;
    left: 2px;
    color: #e2e2e2d2;
    font-size: 20px;
    transform: translateY(-12px);
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    z-index: 0;
}

label:hover {
    cursor: text;
}

input {
    position: relative;
    z-index: 1;
    height: 40px;
    width: 100%;
    background-color: transparent;
    border-style: none;
    border-bottom: solid 2px white;
    color: white;
    font-size: 20px;
}

.inp:focus {
    
    outline: none;
    border-bottom: solid 3px rgb(248, 192, 6);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #b06926 inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: rgb(255, 255, 255) 
    !important;
    font-size: 20px;
}

.btn .btnCad {
    width: 156px;
    padding: 30px;
    color: white;
    background-color: #57401e;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-style: none;
    border-radius: 20px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

.btn .btnCad:hover {
    background-color: #423012;
    transition: 0.5s;
    cursor: pointer;
}

.msg {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-family: 'Inria Sans', sans-serif;
    font-size: 20px;
}

.msg a {
    text-decoration: none;
    color: #671FFF;
}

#msgSuccess {
    display:none;
    text-align: center;
    background-color: rgb(152, 236, 130);
    padding: 8px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-family: 'Inria Sans', sans-serif;
    color: green;
}

#msgError {
    display:none;
    text-align: center;
    background-color: rgb(233, 139, 139);
    padding: 8px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-family: 'Inria Sans', sans-serif;
    color: rgb(243, 22, 22);
}

@media (max-width: 300px) {
    
    .container {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .left {
        display: none;
    }

    .login {
        min-width: 75px;
        padding: 20px;
    }

    .login h2 {
        font-size: 30px;
    }

    .data {
        width: 150px;
        
    }
    
    .campos {
        margin-bottom: 10px;
    }

    .campos  label {
        font-size: 10px;
    }

    input {
        height: 15px;
        font-size: 10px;
    }

    .btn .btnCad {
        width: 100px;
        padding: 10px;
        border-radius: 15px;
        font-family: 'Inria Sans', sans-serif;
        font-size: 15px;
    }

    .msg {
        margin-top: 5px;
        color: white;
        text-align: center;
        font-family: 'Inria Sans', sans-serif;
        font-size: 10px;
    }
}

@media (min-width: 301px) and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
    }

    .left {
        display: none;
    }

    /* Lado direito */
    .login {
        min-width: 75px;
        padding: 20px;
    }

    .login h2 {
        font-size: 30px;
    }

    .data {
        width: 150px;
        
    }
    
    .campos {
        margin-bottom: 10px;
    }

    .campos  label {
        font-size: 10px;
    }

    input {
        height: 15px;
        font-size: 10px;
    }

    .btn .btnCad {
        width: 100px;
        padding: 10px;
        border-radius: 15px;
        font-family: 'Inria Sans', sans-serif;
        font-size: 15px;
    }

    .msg {
        margin-top: 5px;
        color: white;
        text-align: center;
        font-family: 'Inria Sans', sans-serif;
        font-size: 10px;
    }
}

@media (min-width: 801px) and (max-width: 1324px) {
    
    .text h3 {
        width: 90%;
        font-size: 30px;
        color: #FFEAC0;
    }

    .img img{
        margin-top: -30px;
        width: 250px;
    }

    /* Lado direito */
    .login {
        min-width: 75px;
        padding: 20px;
    }

    .login h2 {
        font-size: 30px;
    }

    .data {
        width: 150px;
        
    }
    
    .campos {
        margin-bottom: 10px;
    }

    .campos  label {
        font-size: 10px;
    }

    input {
        height: 15px;
        font-size: 10px;
    }

    .btn .btnCad {
        width: 100px;
        padding: 10px;
        border-radius: 15px;
        font-family: 'Inria Sans', sans-serif;
        font-size: 15px;
    }

    .msg {
        margin-top: 5px;
        color: white;
        text-align: center;
        font-family: 'Inria Sans', sans-serif;
        font-size: 10px;
    }
}
