@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inria+Sans:wght@700&display=swap');

body {
    background-color: #08348B;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto;
    font-family: 'Inria Sans';
}

/* Header */
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    height: 75px;
}

.lista {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.lista li {
    list-style: none;
    margin-left: 45px;
}

.lista a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.btnLogin {
    background: #0093E5;
    padding: 5px;
    text-align: center;
    border-radius: 30px;
    width: 110px;
}

/* Section */

#section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.list {
    display: grid;
    
    gap: 10px;
    width: 80%;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

/* Título */


.box-title {
    grid-column: 1/4;
    color: #B9DDFF;
}

/* Campos de adicionar e busca */

.func {
    display: flex;
    justify-content: space-between;
    
    height: 40px;
}

.box-add {
    padding-right: 10px;
    border-radius: 10px;
    background-color: #008B0E;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    transition: all 0.3s;
}

.box-add:hover {
    background-color: #015e0a;
    cursor: pointer;
}



.box-search {
    display: flex;
}

.box-search input {
    height: 100%;
    width: 250px;
    border-radius: 2px 0px 0px 2px;
    border: 1px solid #777777;
}

.box-search button {
    height: 100%;
    border-radius: 0px 2px 2px 0px;
    border: 1px solid #777777;
    width: 40px;
    color: white;
    background-color: black;
}

.box-search button:hover {
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}

/* Tabela de exibição */

.box-table {
    grid-column: 1/4;
    min-height: 300px;
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255);
    background-color: aquamarine;
}

.campos {
    border: 1px solid black;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    background-color: #dadada;
}

.info-cadastro {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr 1fr 80px;
    grid-template-rows: 30px;
    
}

.p-cadastro {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr 1fr 80px;
    grid-template-rows: 30px;
    font-size: 12px;
}


/* Form para input de cadastro */


.inp {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    width: 100%;
}

.inp input {
    height: 30px;
    border-radius: 3px;
    border: 1px solid gray;
}

.btnEnviar {
    background-color: #008B0E;
    display: inline-block;
    padding: .8rem 1.8rem;
    border-radius: 5px;
    margin-top: 1.2rem;
    cursor: pointer;
}

/* Modal configs */

#fade {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#modal {
    position: fixed;
    z-index: 10;
    color: white;
    background-color: #0093E5;
    width: 400px;
    padding: 1.2rem;
    border-radius: .5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.btnFechar {
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

