/* Import */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inria+Sans:wght@700&display=swap');

/* Inicio */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    font-family: 'Bree Serif', serif;
}

/* Configuração lado esquerdo */
.left {
    background-color: #E85B0C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.text {
    width: 653px;    
}

.text > h1 {
    font-size: 64px;
    color: white;
    margin-bottom: 15px;
}

.text h3 {
    width: 473px;
    font-size: 40px;
    color: #FFEAC0;
}

.img img{
    margin-top: -50px;
    width: 306px;
}

/* Configuração do lado direito */
.right {
    background-color: #E99820;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.login {
    min-width: 300px;
    height: 515px;
    padding: 40px;
    background-color: #B06926;
    border-radius: 30px;
}

.login h2 {
    color: white;
    font-size: 68px;
}

.loginText {
    border-bottom: solid 3px white;
    width: 173px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}

.data {
    width: 475px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.campos {
    margin-bottom: 60px;
}

.data label {
    position: absolute;
    left: 2px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
}

label:hover {
    cursor: text;
}

.data .inp {
    z-index: 1;
    height: 40px;
    width: 100%;
    background-color: transparent;
    border-style: none;
    border-bottom: solid 3px white;
}

.btn .btnCad {
    width: 156px;
    padding: 30px;
    color: white;
    background-color: #57401e;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-style: none;
    border-radius: 20px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 20px;
}

.btn .btnCad:hover {
    background-color: #423012;
    transition: 0.5s;
    cursor: pointer;
}

.msg {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-family: 'Inria Sans', sans-serif;
    font-size: 20px;
}

.msg a {
    text-decoration: none;
    color: #671FFF;
}

  